:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-verydarkblue: hsl(217, 54%, 11%);
    --card-verydarkblue: hsl(216, 50%, 16%);
    --line-verydarkblue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --p-white: hsl(0, 0%, 60%);
}

*{
    box-sizing: border-box;
}

html{
    /* font-size: 18px; */
}

body{
    background-color: rgb(32,33,36);
    font-family: 'Outfit', sans-serif;
}
    /* SECTION */
    /* Nav */
    .navbar-brand > img{
        width: 90px;
    }

        .navbar-busqueda{
            height: 50px;
        }

            .input-busqueda{
                /* background-color: var(--card-verydarkblue); */
                width: 300px;
            }

            .btn-busqueda{
                width: 40px;
                height: 30px;
                margin-right: 4px;
                padding-right: 10px;
                align-items: center;
            }

                .img-busqueda{
                    width: 50px;
                    height: 50px;
                }

/* ROW */
.row-estilo{
    min-height: 100vh;
}
    .container-loading{
        background-color: rgb(32,33,36);
        /* position: fixed; */
        width: auto;
        height: 100vh;
        z-index: 9999;
        transition: all 1.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .loading,
        .loading:before,
        .loading:after{
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            animation: loader 1.5s infinite ease-in-out;
        }

        .loading{
            color: #4685fa;
            font-size: 13px;
            position: relative;
            animation-delay: -0.16s;
        }

        .loading:before,
        .loading:after{
            content: '';
            position: absolute;
            top: 0;
        }

        .loading:before{
            left: -3.5em;
            animation-delay: -0.32s;
        }

        .loading:after{
            left: 3.5em;
        }

        @keyframes loader {
            0%,
            80%,
            100%{
                box-shadow: 0 2.5em 0 -1.3em;
            }
            40%{
                box-shadow: 0 2.5em 0 0;
            }
        }

    .card{
        border: 0;
        border-radius: 1rem;
        background: transparent;
        margin-top: 30px;
        transition: ease 0.5s;
        width: 250px;
        height: 300px;
        animation-name: opacity;
        animation-duration: 1s;
    }

        .card-header-img{
            width: 150px;
            height: 150px;
        }
            .imgTipo{
                width: 30px;
                height: 30px;
            }
    
    .contacto{
        border-top: 1px solid var(--p-white);
    }

    .icon-social-networks > a{
        --size: 40px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: .5s filter;
    }

    .icon-social-networks > a:hover{
        filter: opacity(0.5);
        color:hsl(217, 54%, 11%);
    }

        .bg-instagram{
            background-color: white;
            color: black;
        }
        
        .bg-facebook{
            background-color: white;
            color: black;
        }
        
        .bg-twitter{
            background-color: white;
            color: black;
        }

.footer{
}


@media (max-width: 775px) {
    .navbar-brand > img{
        width: 150px;
    }    
}