:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-verydarkblue: hsl(217, 54%, 11%);
    --card-verydarkblue: hsl(216, 50%, 16%);
    --line-verydarkblue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --p-white: hsl(0, 0%, 60%);
}

*{
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    background-color: rgb(32,33,36);
    font-family: 'Outfit', sans-serif;
}
    main{
        /* position: relative;
        top: 50px;
        right: 10px;
        left: 10px; */
    }

    header{
        /* background-color: var(--main-verydarkblue); */
    }

        .navbar{
            /* background-color: var(--card-verydarkblue); */
            /* width: 100%;
            position: absolute;
            top: 0;
            left: 10px;
            z-index: 1; */
        }

            .navbar-busqueda{
                height: 50px;
            }

                .input-busqueda{
                    /* background-color: var(--card-verydarkblue); */
                    width: 400px;
                }

                .btn-busqueda{
                    width: 40px;
                    height: 30px;
                    margin-right: 6px;
                    padding-right: 10px;
                    align-items: center;
                }

                    .img-busqueda{
                        width: 50px;
                        height: 50px;
                    }

.input-busqueda{
    height: 40px;
}

.card{
    border: 0;
    border-radius: 1rem;
    background: transparent;
    margin-top: 30px;
    transition: ease 0.5s;
    width: 250px;
    animation-name: opacity;
    animation-duration: 1s;
}

    .card-header-img{
        width: 150px;
        height: 150px;
    }

    .card-footer{

    }
        .imgTipo{
            width: 30px;
            height: 30px;
        }

.footer{
}


@media (max-width: 700px) {
    
  }